*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Segoe UI", Arial, sans-serif;
    background: linear-gradient(135deg, rgb(11, 16, 32),rgb(30, 53, 91));
    color:rgb(255, 255, 255);
    min-height: 100vh;
}
.pagina{
    max-width: 1100px;
    margin:auto;
    padding: 60px 30px;
}
.titulo-principal{
    text-align: center;
    padding: 20px 50px;
    border-radius: 12px;
    border: 2px solid rgb(106, 167, 255);
    background: rgba(106, 167, 255, 0.15);
    margin-bottom: 40px;
    font-size: 32px;
}
.descrição{
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 60px;
}
.cards{
    display: flex;
    gap: 40px;
}
.card{
    flex: 1;
    padding: 30px;
    border-radius: 18px;
    background: rgba(106, 167, 255, 0.08);
    backdrop-filter: blur(10px);
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.titulo-card{
    margin-bottom: 20px;
    padding: 12px 20px;
    border-radius: 10px;
    background: linear-gradient(135deg, rgb(59, 130, 246), rgb(37, 99, 235));
    font-size: 20px;;
}
.card ul{
    list-style: none;
}
.card ul li{
    margin-bottom: 10px;
    padding-left: 15px;
    position: relative;
}
.card ul li::before{
    content: "•";
    position: absolute;
    left: 0;
    color: rgb(106, 167, 255);
}
.btn{
    display: inline-block;
    margin-top: 25px;
    padding: 12px 26px;
    border-radius: 10px;
    background: linear-gradient(135deg, rgb(59, 130, 246), rgb(37, 99, 235));
    color:white;
    text-decoration: none;
    transition: 0.3s;
    font-weight: bold;
}
.btn:hover{
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(59, 130, 246, 0.6);
}
@media (max-width: 768px){
    .cards{
        flex-direction: column;
    }
}
.titulo-principal{
    font-size: 26px;
    padding: 15px 30px;
}